body {
    font-family: Arial;
    margin: 25px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: lightsteelblue;
}

h1 {
    color: darkgreen;
    margin-bottom: 10px;
    text-align: center;
}

hr {
    margin: 15px 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

section {
    background: rgba(216, 209, 196, 0.776);
    border: 2px solid rgba(216, 209, 196, 0.776);
    width: 200px;
    padding: 15px;
}

section header {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-size: 18px;
    color: darkgreen;
    border-bottom: 10px solid darkgreen;
    width: 100%;
}

section h3 {
    margin: 10px 0 8px;
    color: darkgreen;
}

section p {
    font-size: 14px;
}
